# https://clang.llvm.org/extra/clang-tidy/
Checks: >-
  -*,
  bugprone-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  performance-*,
  readability-*,
  cppcoreguidelines-pro-type-cstyle-cast,
  cppcoreguidelines-pro-type-const-cast,
  cppcoreguidelines-pro-type-reinterpret-cast,
  cppcoreguidelines-pro-bounds-constant-array-index,
  -bugprone-exception-escape,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-implicit-bool-conversion,
  -cppcoreguidelines-pro-bounds-constant-array-index
WarningsAsErrors: true
HeaderFilterRegex: '.*'
